body{
    font-family: 'Oswald', sans-serif;
}
h1{
    text-align: center;
    color: blue;
}
img{
    margin: auto;
    display: block;
}
h2{
    text-align: center;
    color: blue;
}
div{
    text-align: center;
}
p{
    text-align: center;
}